DEEPSEEK_ENDPOINT=https://api.deepseek.com/v1
OPENROUTER_ENDPOINT=https://openrouter.ai/api/v1
DEEPSEEK_API_KEY=YOUR-KEY-HERE
OPENROUTER_API_KEY=YOUR-KEY-HERE
DEEPSEEK_MODEL_CHAT=deepseek-chat
OPENROUTER_MODEL_DEEPSEEK4FLASH=deepseek/deepseek-v4-flash-0731
OPENROUTER_MODEL_GEMINI3FLASH=google/gemini-3-flash-preview
OPENROUTER_MODEL_DEEPSEEKV32=deepseek/deepseek-v3.2
OPENROUTER_MODEL_GPTOSS120B=openai/gpt-oss-120b
